.-translate-x-12 {
    --tw-translate-x: -20rem;
}
.translate-x-12 {
    --tw-translate-x: 20rem;
}
.translate-y-12 {
    --tw-translate-y: 20rem;
}

.transition-all {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
.transition-duration-100 {
    transition-duration: 100ms;
}
.transition-duration-200 {
    transition-duration: 200ms;
}
.transition-duration-300 {
    transition-duration: 300ms;
}
.transition-duration-400 {
    transition-duration: 400ms;
}
.transition-duration-500 {
    transition-duration: 500ms;
}
.transition-duration-600 {
    transition-duration: 600ms;
}
.transition-duration-700 {
    transition-duration: 700ms;
}
.transition-duration-800 {
    transition-duration: 800ms;
}
.transition-duration-900 {
    transition-duration: 900ms;
}
.transition-duration-1000 {
    transition-duration: 1000ms;
}

.transition-delay-100 {
    transition-delay: 100ms;
}
.transition-delay-200 {
    transition-delay: 200ms;
}
.transition-delay-300 {
    transition-delay: 300ms;
}
.transition-delay-400 {
    transition-delay: 400ms;
}
.transition-delay-500 {
    transition-delay: 500ms;
}
.transition-delay-600 {
    transition-delay: 600ms;
}
.transition-delay-700 {
    transition-delay: 700ms;
}
.transition-delay-800 {
    transition-delay: 800ms;
}
.transition-delay-900 {
    transition-delay: 900ms;
}
.transition-delay-1000 {
    transition-delay: 1000ms;
}
